@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #333;

    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    
    height: 200px;
    width: 100vw;
    background-color: #232323;
}


.header_logo {
    height: 150px;
}

.hamburger {
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.hamburger div {
    border-radius: 50px;
}

.line {
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
}

.menu {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    transition: left 0.5s ease;
    z-index: 10;
}

.menu.active {
    left: 0;
}

.menu ul {
    padding: 100px 20px 0;
}

.menu ul li a {
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
    color: #333;
    padding: 10px 0px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: #f4f4f4;
}

.menu ul li {
    margin: 10px 0;
    list-style-type: none;
    padding: 0;
}

.hamburger {
    cursor: pointer;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
}

hr {
    border: none;
    height: 2px;
    background-color: #8d8d8d90;
    margin: 10px 0; 
}






.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #2b2b2b;
}

.second-section h2 {
    font-size: 30px;
    margin: 40px 0 0px;
    font-weight: 500;
    color: #d5d5d5;
}

.second-section b {
    color: #d5d5d5;
    font-size: 40px;
    font-weight: 800;
}

.second-section p {
    color: #d5d5d5;
    font-size: 25px;
    font-weight: 500;
}

.second-section a {
    color: #d5d5d5;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
}

.second-section img {
    width: 80vw;
}

.second-section div {
    margin: 20px 0;
}

.text {
    width: 80vw;
    display: flex;
    justify-content: start;
    align-items: start;
}

.proyect-container {
    margin-bottom: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #232323;
}

footer nav {
    margin: 25px 0 45px;
    width: 80vw;
    color: #d5d5d5;
}

footer h2 {
    margin: 0;
}

footer p {
    margin: 25px 0;
}

footer img {
    height: 35px;
}




.proyectos {
    margin-top: 20px !important;
}

.spacing {
    letter-spacing: 4px;
}